# Build
bin/
obj/
out/

# User-specific
.vs/
*.user
*.suo

# SQLite local file
*.db

# Logs
*.log

# Configs sensíveis
appsettings.Development.json
.vscode/launch.json
Database/marcado.db-shm
Database/marcado.db-wal
